:root {
    --white-color: #fff;
    --black-color: #000;
    --blue-color: #007bff;
    --text-color: #333;
    --primary-color: #28a745;
    --gray-bg: #f5f5f5;
    --border-color: #e0e0e0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding-top: 104px;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

header {
    height: 104px;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: var(--white-color);
    z-index: 1000; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
}
header::after {
    content: "";
    position: absolute;
    bottom: 46px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #F6F6F6;
}

.container-header {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

/* ===== HEADER ===== */

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 58px;
}

.head-left img {
    height: 40px;
}
.head-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.search-box-header {
    display: flex;
    align-items: center;
    background: #F8F8F8;
    padding: 7px 35px 7px 10px;
    border-radius: 5px;
    box-shadow: inset 0 0 4px rgba(0, 0, 0, .2);
    width: 270px;
    height: 34px;
    position: relative;
}

.search-box-header input {
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
    font-size: 1.4rem;
}

.search-box-header button {
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 1.6rem;
    color: var(--text-color);
    position: absolute;
    right: 7px;
    top: 8px;
}

.noti-header {
    font-size: 28px;
}


.auth {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
}

.auth i {
    font-size: 2rem;
    color: var(--text-color);
}

.auth a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
}

.auth a:hover {
    color: #007bff;
    text-decoration: underline;
}

/* --- Bottom Bar (Nav + Button) --- */
.bottom-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 46px;
}

.main-menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

.menu-item {
    position: relative;
}

.menu-item::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: #007bff; 
    transition: width 0.3s ease-in-out;
}

.menu-item:hover::after {
    width: 100%;
}

.menu-item a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
    display: block;
}

/* ====== MENU CHÍNH ====== */
.main-menu {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.menu-item {
    position: relative;
}

.menu-item a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    display: block;
}

/* ====== SUBMENU ====== */
.sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    list-style: none;
    display: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    min-width: 300px;
    padding: 10px;
    display: none;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 10px;
    z-index: 10;
    border-radius: 4px;
}

.sub-menu li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.menu-item:hover .sub-menu {
    display: grid;
}

.sub-menu li:hover {
    background-color: #e0f3ff;
}

.sub-menu li a {
    color: black;
    font-size: 14px;
    text-decoration: none;
    flex-grow: 1;
    font-weight: normal;
}

.sub-menu li:hover a {
    color: #007bff;
}

/* ====== SUB-SUBMENU ====== */
.sub-submenu {
    position: absolute;
    top: 0;
    left: 100%;
    background-color: white;
    list-style: none;
    display: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    min-width: 200px;
    padding: 10px;
    border-radius: 4px;
    z-index: 20;
}

.has-sub-submenu {
    position: relative;
}

.has-sub-submenu:hover .sub-submenu {
    display: block;
}

.sub-submenu li a {
    color: black;
    font-size: 14px;
    text-decoration: none;
}

.sub-submenu li:hover {
    background-color: #e0f3ff;
}

.sub-submenu li:hover a {
    color: #007bff;
}

.sub-menu li i {
    font-size: 12px;
    color: #555;
}

.btn-post {
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1.6rem;
}

.btn-post i {
    font-size: 1.8rem;
}

.btn-post:hover {
    background-color: #007f00; 
    transform: translateY(-2px); 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.content {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.container-slider {
   
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
}

/* ===== SEARCH BOX ===== */
.search-box-slider {
    background: var(--white-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 26%;
    height: 280px;
}

.search-box h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    font-weight: bold;
}

.search-tabs {
    display: flex;
    gap: 10px;
    padding-bottom: 10px;
    width: 100%;
}

.tab-item {
    position: relative;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    transition: background 0.3s ease;
    width: 100%;
    height: 40px;
    text-align: center;
    border: #007bff 2px solid;
}

.tab-item:hover {
    background-color: #d9e7ff; 
}

.tab-item.active {
    background-color: #007bff;
    color: white;
}

.triangle {
    display: none;
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #007bff;
}

.tab-item.active .triangle {
    display: block;
}


.search-box-slider select, .btn-search {
    width: 100%;
    height: 40px;
    padding: 10px;
    font-size: 1.6rem;
    margin-bottom: 10px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    cursor: pointer;
}

.btn-search {
    background: var(--primary-color);
    color: var(--white-color);
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.btn-search:hover {
    background-color: #007f00;
}

/* ===== SLIDER ===== */
.slider {
    width: 74%;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
}

.slider-content {
    position: relative;
    width: 100%;
}

.slider img {
    width: 100%;
    display: block;
    height: 280px;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: var(--white-color);
    border: none;
    padding: 10px;
    font-size: 1.8rem;
    cursor: pointer;
    border-radius: 50%;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.btn-register {
    background: var(--blue-color);
    color: var(--white-color);
    border: none;
    padding: 10px 15px;
    font-size: 1.6rem;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

/* CATEGORIES SECTION */
.categories {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.category {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 60px;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    color: #007bff;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    transition: 0.3s;
    width: 276px;
    height: 80px;;
}

.oto-cu {
    background-image: url('/img/menu-1.png');
}
.oto-moi {
    background-image: url('/img/menu-2.png');
}
.gia-xe {
    background-image: url('/img/menu-3.png');
}
.ban-xe {
    background-image: url('/img/menu-4.png');
}

.category:hover {
    transform: translateY(-3px);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.category::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -4px;
    width: 0;
    height: 3px;
    background: #4da6ff;
    transition: all 0.3s ease-in-out;
}

.category:hover::after {
    width: 100%;
    left: 0;
}

/* BRANDS SECTION */
.brands {
    text-align: center;
    padding: 20px 0;
}

.brands h2 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
}

.brand-logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}

.brand-logos img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    transition: 0.3s;
}

.brand-logos img:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

/* BOX CHUNG DÙNG CHO NHIỀU PHẦN KHÁC */
.product {
    padding: 20px 0;
}

.box {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.box-title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
}

.box-list {
    display: flex;
    gap: 15px;
    overflow-x: auto;
    padding-bottom: 10px;
}

.box-item {
    width: 220px;
    padding: 15px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
}

.box-item:hover {
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.box-img {
    width: 100%;
    height: 120px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.box-name {
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
}

.box-desc {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
}

.box-link {
    font-size: 14px;
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.box-link:hover {
    text-decoration: underline;
}

.box-view-all {
    display: block;
    text-align: center;
    margin-top: 15px;
    font-size: 16px;
    color: #007bff;
    font-weight: bold;
    text-decoration: none;
}

.box-view-all:hover {
    text-decoration: underline;
}

/* Tin tức nổi bật */
.news {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.news-title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
}

.news-subtitle {
    font-size: 14px;
    color: #666;
    margin-bottom: 15px;
}

/* Tabs */
.news-tabs {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}

.news-tab {
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 14px;
    background: #f1f3f5;
    text-decoration: none;
    color: #333;
}

.news-tab:hover {
    background-color: #007bff;
    color: white;
}

.news-tab.active {
    background: #007bff;
    color: white;
}

.news-content {
    display: flex;
    gap: 15px;
}

.news-main {
    flex: 1;
}

.news-main a {
    text-decoration: none;
    color: inherit;
    display: block;
}

.news-main img {
    width: 100%;
    border-radius: 8px;
    transition: 0.3s ease-in-out;
}

.news-main-title {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
}
.news-main-title:hover {
    color: #007bff;
}

.news-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.news-item a {
    display: flex;
    gap: 10px;
    text-decoration: none;
    color: inherit;
}

.news-item img {
    width: 100px;
    height: 60px;
    border-radius: 6px;
    object-fit: cover;
    transition: 0.3s;
}

.news-info h4 {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}

.news-meta {
    margin-top: 10px;
    font-size: 12px;
}

.news-item a:hover h4 {
    color: #007bff;
}

.news-view-all {
    display: block;
    text-align: center;
    margin-top: 15px;
    font-size: 16px;
    color: #007bff;
    font-weight: bold;
    text-decoration: none;
}

.news-view-all:hover {
    text-decoration: underline;
}

footer {
    background: #175d91;
    padding: 30px 0;
    color: white;
    font-size: 14px;
    margin-top: 20px;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.footer-section h4 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 5px;
}

.footer-section ul li a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.footer-social {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-social a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    gap: 8px;
}
.icon-wrapper i {
    font-size: 20px;
    color: white;
}

.footer-apps {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.app-item {
    display: flex;
    align-items: center;
    background: black;
    padding: 8px 15px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    gap: 10px;
    transition: 0.3s;
}

.app-item:hover {
    background: #222;
}

.app-item img {
    width: 24px;
    height: 24px;
}
